@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #D6EFFF;
    color: #18396b;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: inherit;
}

input,button,select {
    font-family: inherit;
    text-transform: inherit;
    background: #B0E0E6;
}

.container{
    padding: 1.5rem;
    background: #89AFDF;
    border-radius: 1.2rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .15);
}

h1{
    text-align: center;
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    background: #B0E0E6;
    font-size: .85rem;
}

#toast{
    visibility: hidden;
    min-width: 120px;
    background:#18396b;
    color: #D6EFFF;
    padding: .5rem;
    position: fixed;
    right: 35%;
    z-index: 1000;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

#toast.show{
    visibility: visible;
    opacity: 1;
}

.icon{
    display: flex;
    align-items: center;
     position: absolute;
     right: .5rem; bottom: 0;top: .2rem;  
    padding: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .7s;
}

.icon:hover{
    transform: scale(1.1);
    color: rgb(108, 98, 240);
}

.line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: .7rem 0;
}

.length{
    padding: .3rem .5rem;
    outline: none;
}

input{
    border: none;
    cursor: pointer;
}

.btn{
    width: 100%;
    padding: .7rem;
    margin-top: .7rem;
    background: #638FCF;
    border: none;outline: none;
    border-radius: .8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s  ease;
}

.btn:hover{
    background:  #18396b;
    color: #D6EFFF;
    transform: translateY(-2px);
}

.btn:active{
    transform: scale(.95);
}
